body, html {
	margin: 0;
	padding: 0;
}

#main {
	margin: 50px auto;
	width: 260px;
}

#calc {
	margin-left: 41px;
	width: 60px;
}

input {
	margin: 5px 0;
}

span {
	color: red;
	margin-left: 5px;
}

#width-validate, #height-validate {
	color: red;
	margin-left: 41px;
}